.bi-actions ul {
    list-style: none;
}

.bi-items {
    list-style: none;
    margin: 0;
}

.bi-items li {
    padding: 15px;
    border-radius: 6px;
    margin: 10px 0;
    background: #009688;
}

.bi-item {
    font-size: 1.4em;
    color: #FFF;
}

.bi-items a.bi-item-link {
    font-size: 0.8em;
    color: #FFF !important;
    text-decoration: underline;
}

.bi-item.bi-item-teacher {
    background: #ffa900;
}

.bi-item.bi-item-teacher-other {
    background: #ff7100;
}

.bi-items-list tr.placeholder {
    display: block;
    background: #00807A;
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}

.bi-items-list tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #00807A;
    margin-top: -5px;
    left: -5px;
    border-right: none; 
}